{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Запись ДДС</title>
    <link rel="stylesheet" href="{% static 'css/record_list.css' %}">
    <link rel="stylesheet" href="{% static 'css/record_form.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

    <h1>Форма записи</h1>

    <div class="form-wrapper">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="button-group">
                <button type="submit">Сохранить</button>
                <a href="{% url 'record_list' %}">← Назад</a>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#id_type').change(function () {
                const url = "{% url 'ajax_load_categories' %}";
                const typeVal = $(this).val();

                $.ajax({
                    url: url,
                    data: {
                        'type': typeVal
                    },
                    success: function (data) {
                        $("#id_category").empty();
                        $("#id_category").append('<option value="">---------</option>');
                        $.each(data, function (key, value) {
                            $("#id_category").append(
                                $('<option></option>').attr('value', value.id).text(value.name)
                            );
                        });
                        $("#id_subcategory").empty();
                        $("#id_subcategory").append('<option value="">---------</option>');
                    }
                });
            });

            $('#id_category').change(function () {
                const url = "{% url 'ajax_load_subcategories' %}";
                const categoryId = $(this).val();

                $.ajax({
                    url: url,
                    data: {
                        'category': categoryId
                    },
                    success: function (data) {
                        $("#id_subcategory").empty();
                        $("#id_subcategory").append('<option value="">---------</option>');
                        $.each(data, function (key, value) {
                            $("#id_subcategory").append(
                                $('<option></option>').attr('value', value.id).text(value.name)
                            );
                        });
                    }
                });
            });
        });
    </script>
</body>
</html>
